<html>
  <head>
    <meta name="description" content="Solar Home Page">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body data-spy="scroll">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="lead nav navbar-nav navbar-right">
            <li>
              <a href="#">Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="col-md-12">
              <div class="page-header text-left">
                <h2>
                  <b>My Awesome Solar Install!</b>&nbsp;
                  <small>&nbsp;I Hacked into my Solectra PVI 6500 Inverter to Automatically Capture and Store my Solar Data to an AWS mySQL Cloud Database, Accessible Anywhere....</small>
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-right">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-right">Last Updated:</h4>
              </div>
            </div>
            <div class="row text-right">
              <div class="col-md-12">
                <p>(Last Update Date/Time)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-8" id="TodayChart"></div>
          <div class="col-md-3">
            <div class="row" id="TodayData1">
              <div class="col-md-12">
                <h1>
                  <b>Today</b>
                </h1>
              </div>
            </div>
            <div class="row" id="TodayData2">
              <div class="col-md-12">
                <h3>Data 1</h3>
              </div>
            </div>
            <div class="row" id="TodayData3">
              <div class="col-md-12">
                <h3>Data 2</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" id="WeekChart"></div>
          <div class="col-md-3">
            <div class="row" id="WeekData1">
              <div class="col-md-12">
                <h1>
                  <b>Week</b>
                </h1>
              </div>
            </div>
            <div class="row" id="WeekData2">
              <div class="col-md-12">
                <h3>Data 1</h3>
              </div>
            </div>
            <div class="row" id="WeekData3">
              <div class="col-md-12">
                <h3>Data 2</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" id="MonthChart"></div>
          <div class="col-md-3">
            <div class="row" id="MonthData1">
              <div class="col-md-12">
                <h1>
                  <b>Month</b>
                </h1>
              </div>
            </div>
            <div class="row" id="MonthData2">
              <div class="col-md-12">
                <h3>Heading</h3>
              </div>
            </div>
            <div class="row" id="MonthData3">
              <div class="col-md-12">
                <h3>Heading</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" id="YearChart"></div>
          <div class="col-md-3">
            <div class="row" id="YearData1">
              <div class="col-md-12">
                <h1>
                  <b>Year</b>
                </h1>
              </div>
            </div>
            <div class="row" id="YearData2">
              <div class="col-md-12">
                <h3>Heading</h3>
              </div>
            </div>
            <div class="row" id="YearData3">
              <div class="col-md-12">
                <h3>Heading</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Footer</h1>
            <p>Add Footer Text Here</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>